name: build mdbook+docx of mdbook/workflow/src
on:
  push:
    paths: 
       - mdbook/workflow/src/**.md
       - .github/workflows/*
       - overview_render-docx.R
       - docx/*
       - overview-rmd/*
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

#14056.f1
#name: R-CMD-check
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/quarto-r-tex:latest
    
    steps:
      - name: Checkout HULX
        uses: actions/checkout@v4
      - name: checkout school
        uses: actions/checkout@v4  # HU-LX at workspace root after mv
        #- uses: actions/checkout@v4  # STORE-repo at ./STORE-repo/
        with:
          repository: esteeschwarz/school  
          path: school
          ref: main
          token: ${{ secrets.TARGET_REPO_PAT }}
        # shell: bash
        # run: |
        #   cd STORE-repo
        #   git sparse-checkout init --cone
        #   git sparse-checkout set api/png/ses-overview
        #   git checkout main
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: build texdocx
        env:
           GITHUB_ACTIONS: true
        run: |
             #  test<-"testartifact"
             #  test<-(list.files())
             #  writeLines(test,"./testart.md")
             print(list.files())
             source("overview_render-docx.R")
        shell: Rscript {0}
      - run: |
           #ls ./docx
           #ls ./pages
           echo "build"
           #ls ./pages/_book
      - name: getlibs
        run: |
             print("libs da?")
        shell: Rscript {0}  
      - name: Upload pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./pages/overview-rmd/_book
      # Deployment job
      - name: Check
        run: |
            print("check last, removed all calls")
            # library(renv,lib.loc="rlibs")
            # library(rcmdcheck,lib.loc="rlibs")
            # renv::restore()
            # rcmdcheck::rcmdcheck(args = '--no-manual', error_on = 'error')
        shell: Rscript {0}

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
 